<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lc.sunnyside.mapper.ActivityParticipationMapper">

    <select id="selectByElderIdAndDate" resultType="cn.lc.sunnyside.POJO.DO.ActivityParticipation">
        SELECT *
        FROM activity_participation
        WHERE elder_id = #{elderId}
          AND activity_date = #{date}
    </select>

    <select id="selectUserActivitiesByElderIdAndDate" resultType="cn.lc.sunnyside.POJO.DTO.UserActivityDTO">
        SELECT
            ap.activity_id AS activityId,
            ap.participation_status AS participationStatus,
            ap.activity_date AS activityDate,
            ac.activity_name AS activityName,
            ac.location AS location,
            ac.start_time AS startTime,
            ac.end_time AS endTime
        FROM activity_participation ap
                 JOIN activity_schedule ac ON ap.activity_id = ac.id
        WHERE ap.elder_id = #{elderId}
          AND ap.activity_date = #{date}
        ORDER BY ac.start_time
    </select>

    <insert id="insert" parameterType="cn.lc.sunnyside.POJO.DO.ActivityParticipation"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO activity_participation
            (elder_id, activity_id, participation_status, created_at, activity_date_start, activity_date_end, activity_date)
        VALUES
            (#{elderId}, #{activityId}, #{participationStatus}, #{createdAt}, #{activityDateStart}, #{activityDateEnd}, #{activityDate})
    </insert>

    <update id="cancelRegistration">
        UPDATE activity_participation
        SET participation_status = 'CANCELED'
        WHERE elder_id = #{elderId}
          AND activity_id = #{activityId}
          AND participation_status = 'REGISTERED'
    </update>

</mapper>
