<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lc.sunnyside.mapper.MenuMapper">

    <select id="selectByDateAndType" resultType="cn.lc.sunnyside.POJO.DO.Menu">
        SELECT *
        FROM menu
        WHERE meal_date = #{date}
          AND meal_type = #{type}
    </select>

</mapper>
