<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lc.sunnyside.mapper.NursingHomeMapper">

    <select id="selectById" resultType="cn.lc.sunnyside.POJO.DO.NursingHome">
        SELECT *
        FROM nursing_home
        WHERE id = #{id}
    </select>

</mapper>
